%h1 Welcome to NeedConnect.org

%p On a daily basis, we talk to people in our community that want to help those in need. However, the issue is they have no idea how to, or what those needs are. Many times, these people have quality items laying around the house that could be easily donated.
%p On the flip side, we talk daily to local charities that desperately need goods and services to help those most in need but don’t have the resources to get the word out. They do great work and really need help.
%p NeedConnect.org was designed for one reason – to make people and businesses in Columbia aware of the needs of charities and to make assisting them as easy as possible. In short, we want to “connect” the needs of local charitable organizations and the local community.
%p Until the website is live in approximately 1 week, please provide your email address below to be notified of future updates and when a local charity has a new urgent need. Many times needs of this type are time sensitive. By contacting multiple people with a rapid-response emaito make people and businesses in Columbia aware of the needs of charities and to make assisting them as easy as possible. In short, we want to “connect” the needs of local charitable organizations and the local community.
%p On behalf of the NeedConnect team, thank you for your current interest and your hopeful future support. We also hope you l eave an email address so we can send you urgent, red flag needs when local charities have them.
%p People in the community and in business can’t help if they aren’t aware of existing needs. It is our hope this system will help remedy that long-standing problem.
