%h1 NeedConnect.org Interest Form

%p Please provide your email address if you are interested in being notified when a local small charity has a new urgent need.  Many times needs of this type are time sensitive.  By contacting multiple people with a rapid-response email, the chance of meeting these needs are greatly enhanced.
%p On behalf of the NeedConnect Team, thank you so very much for agreeing to receive notifications in the future.  People in the community and in business can't help if they aren't aware of existing needs.  It is our hope this system will help remedy that long-standing problem. 
%p Thank you again!


- form_for(@interest_form) do |f| 
  
  %p
    = f.label "Email: "
    = f.text_field :email

  %p
    = f.submit "Notify me"
