!!!
%html
  %head
    %title
    = stylesheet_link_tag "application"
  %body
    #wrapper
      #header
        .clear
      #torso
        = render :partial => "layouts/sidebar"
        #content
          = content_tag(:div, flash[:notice], :id => "notices") if flash[:notice]
          = yield 
        .clear
      #footer
